* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
}

.header{
    padding: 25px 4rem;
    align-items: center;
}

.header-all{
    display: flex;
    justify-content: space-between;
}

.navbar a{
    margin-right:  35px;
    color:#080808;
    font-size: 12px;
    transition: 0.5s;
}

.navbar a:hover{
    color: #0808087a;;
}

.navbar a:first-child{
    color: #0808087a;
}


.logo{
    width:8%;
    
}

.logo img{
    width: 100%;
}

.login-color{
    color: #080808;
}
.login-color-zero{
    color: #0808087a;
}

.login a{
    margin:0 10px;
    font-size: 12px;
}

.login i{
    color: #080808;
}

.destination{
    
    padding: 25px 4rem; 
}

.bar{
    margin: 2rem 0px;
    display: flex;
    justify-content: space-between;
}

.left-bar a{
    margin-right: 35px;
    color:#0808087a;
    font-size: 12px;
    transition: 0.5s;
}

.left-bar a:first-child{
    color: #080808;
}

.left-bar a:hover{
    color: #080808;
}

h4 i{
cursor: pointer;
}

.cards{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card{
    width: 22%;
}

.card img{
    width: 100%;
}


.photo{
    margin: 30px 0px;
}


.content{
    color: #0808087a;
    font-size: 14px;    
    text-align: center;
    font-weight: bold;
}

.content p{
    margin: 15px 0px;
}

.content a{
    color: #080808;
}

.footer{
    display: flex;
    padding: 4rem;
    border-top: 1px solid rgb(11, 10, 10);
    background-color: rgb(240, 240, 240);
    justify-content: space-between;
    
}

.helpers{
    width: 25%;
}

.helpers a{
    display: block;
    margin-top: 15px;
    color: #080808;
}


